button.cookie{
    background-color: #b8922a;
    color: white;
    padding: 16px 32px;
    font-size: 12px;
    border: 2px solid #705a1e;
    
}
p.clickPointText{
    font-size: 12;
    color:white;
    text-align: center;
    line-height: 4px;
    font-family: Arial, Helvetica, sans-serif;
}
div.statsModal{
    background-color: rgb(196, 196, 196);
    border-width: 2px;
    border-color: rgb(157, 157, 157); 
    border-style: solid;
    color:white;
    padding: 10px 25px;
    font-size: 12px;
    width: 10%;

}
p.modalText{
    font-size: 12;
    color:white;
    text-align: center;
    line-height: 4px;
    font-family: Arial, Helvetica, sans-serif;
    
}
p.modalTextInline{
    font-size: 12;
    color:white;
    text-align: center;
    line-height: 4px;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}
p.modalTextStat{
    font-size: 12;
    color:#b8922a;    
    text-align: center;
    line-height: 4px;
    font-family: Arial, Helvetica, sans-serif;
    
}

button.clickUpgrade{
    background-color: #e2e2e2;
    border-color: rgb(73, 73, 73);
    border-radius: 2px;
    border-style: solid;
    border: 2px solid #a5a5a5;
    padding: 10px 24px;
    font-size: 12px;
    position: static;
}

p.clickUpgradeText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 4px;
    color: black;
}

p.clickUpgradeTextInline{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 4px;
    color: black;
    display: inline-block;
}

p.clickUpgradeTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:black;
    
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
}

p.productionText{
    font-size: 12;
    color:white;
    text-align: center;
    line-height: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

span.productionTextInline{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 4px;
    color: rgb(255, 255, 255);
}
/* code for the mineing themed stuff*/
/*hate css*/

button.mineButton{
    background-color: #00a2ff;
    color: white;
    padding: 16px 32px;
    font-size: 12px;
    border: 2px solid #0078bd;
}