button.cookie{
    background-color: #b8922a;
    border: none;
    color: white;
    padding: 16px 32px;
    font-size: 12px;
    
}
div.statsModal{
    background-color: rgb(196, 196, 196);
    border-width: 2px;
    border-color: rgb(157, 157, 157); 
    border-style: solid;
    color:white;
    padding: 10px 25px;
    font-size: 12px;
    width: 10%;

}
p.modalText{
    font-size: 12;
    color:white;
    text-align: center;
    line-height: 4px;
    font-family: Arial, Helvetica, sans-serif;
    
}
p.modalTextInline{
    font-size: 12;
    color:white;
    text-align: center;
    line-height: 4px;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}
p.modalTextStat{
    font-size: 12;
    color:#b8922a;
    text-align: center;
    line-height: 4px;
    font-family: Arial, Helvetica, sans-serif;
    
}

div.buyButton {
    display: flex;
    justify-content: center;
    width: 100%;
}

button.clickUpgrade{
    background-color: #e2e2e2;
    border-color: rgb(102, 102, 102);
    border-radius: 2px;
    border-style: solid;
    padding: 16px 32px;
    font-size: 12px;
    position: static;
    border: none;
}

p.clickUpgradeText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 4px;
    color: black;
}

p.clickUpgradeTextInline{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 4px;
    color: black;
    display: inline-block;
}

p.clickUpgradeTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:black;
    
}